*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
/* 第一部分 头部 */
header{
    width: 100%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255,138,0);
}
header>span:nth-of-type(1){
    box-sizing: border-box;
    padding: 0rem 10rem;
}
header>span:nth-of-type(2){
    box-sizing: border-box;
    padding: 0rem 8rem;
}
header>span:nth-of-type(2)>img{
    box-sizing: border-box;
    padding: 1rem 2rem;

}

/* 第二部分搜索栏 */
 .z-datu{
    width: 100%;
    /* height: 90rem; */
    /* background: url(../../z-img/banner.png)no-repeat; */
    /* background-size: 100%; */
      box-sizing: border-box;
    /* padding: 37rem 0rem; */
}
.z-datu>img{
    width: 100%;
}
 .z-search>span{
    width: 5rem;
    height: 5rem;
    
    display: block; 
    margin: -10rem 10rem;
    /* box-sizing: border-box; */
    /* padding: 2rem 3rem; */
    position: absolute;
    border: .2rem solid black;
    background: url(../../z-img/seach.jpg)no-repeat;
    background-size: 100%;


 } 
.z-search>input{
    width: 80%;
    height: 5rem;
    font-size: 1.5rem;
    margin:0 50%;
    transform: translateX(-50%);
    border-left: none;
    /* box-sizing: border-box; */
    /* padding: 1rem 2rem; */
    position: absolute;
    margin: -10rem 50%;

    background-color: rgb(254,254,254);
}
/* 第三部分导航栏 */
 nav{
    width: 100%;
    height: 16rem;
    background-color: rgb(255,138,0);
}
ul{
    
    list-style: none;
}
#z-nav{
     display: flex;
     justify-content: space-around;
     align-items: center;
}
#z-nav>li>a>img{
    margin: 1rem 0rem;
}
#z-nav>li>a>p{
    color: rgb(254,254,254);
    margin: 0rem 3rem;
} 
/* 第四部分 白房子图片 */
 .z-four{
    width: 100%;
    height: auto;
}
.z-four>img{
     width: 100%;
    height: auto;
}
/* 第五部分 */
.z-five{
    width: 100%;
    background-color: rgb(255,138,0);
    height: 6rem;
}
.z-five>span{
    color: white;
   
}
.z-five>span>p:nth-of-type(1){
    font-size: 2.5rem;
}
/* 第六部分 */
.z-six{
    width: 90%;
    text-align: center;
    height: auto;
    /* background-color: royalblue; */
}
.z-six ul{
    list-style: none;

}
.z-six ul>li{
    width: 100%;
     display: flex;
         flex: 1;
    justify-content: space-around;
}
.z-tupian1{
    left:10rem;
    flex-grow: 1;
}
 .z-wenzi1{
    width: 37rem;
    height: 20rem;
    flex-grow: 2;
 }
 .z-wenzi1 p {
            font-size: 2rem;
            line-height: 5rem;
        }

 .z-wenzi1>p:nth-of-type(3)>span {
            width: 8rem;
            height: 2rem;
            background-color: rgb(246,249,250);
            color: rgb(135, 174, 187);
            line-height: 4rem;
            margin-right: 2rem;
        } 
        /* 第七部分 热门关注 */
       .z-seven{
           width: 90%;
           height: auto;
           flex: 1;
           /* background-color: royalblue; */
          margin:0 auto;
          display: flex;

       } 
       .z-seven ul{
           list-style: none;
            flex-grow: 1;
       }
       .z-seven ul>a{
           text-decoration: none;
           color: black;
       }
       .z-seven ul>a:hover{
           color: red;
           background-color: red;
       }
       /*第八部分 底部   */
       footer{
           width: 100%;
           height: auto;
           background-color: rgb(59, 58, 58);
       }
footer>h1>a{
    text-decoration: none;
    color: white;
}
footer .z-dibu{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex: 1;
}
footer .z-dibu .z-left{
    flex-grow: 1;
    display: flex;
    
}
footer .z-dibu .z-left .z-left-left{
box-sizing: border-box;
    padding: 2rem 0rem;
}
footer .z-dibu .z-left .z-left-right{
    color: white;
    font-size: 2rem;
    box-sizing: border-box;
    padding: 2rem 4rem;
} 
footer .z-dibu .z-right{
    flex-grow: 1;
    display: flex;
   
}
footer .z-dibu .z-right .z-right-left{
    box-sizing: border-box;
    padding: 2rem 0rem;
}
footer .z-dibu .z-right .z-right-right{
    color: white;
    font-size: 2rem;
    box-sizing: border-box;
    padding: 2rem 4rem;
}
footer h2{
    text-align: center;
    color: white;
  
}